<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a class="btn btn-primary mt-2 float-end" href="/dashboard">Dashboard</a>
        <a class= "btn btn-danger float-end mt-2" href="/logout">Logout</a>
        <h1>Editing Dog No. {{ dog.id }}!</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/dog/{{dog.id}}/update" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ dog.name }}">
            </div>
            <div class="mb-3">
                <label for="breed" class="form-label">Breed</label>
                <input type="text" class="form-control" id="breed" name="breed" value="{{ dog.breed }}">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" name="age" value="{{ dog.age }}">
            </div>
            <button type="submit" class="btn btn-dark">Update Doggo!</button>
        </form>
    </div>
</body>
</html>