<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <a class= "btn btn-danger float-end mt-2" href="/logout">Logout</a>
        <h1>Howdy, <span class="text-primary">{{ owner.first_name }}</span>!!!</h1>
        <h2>All TV Shows</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Network</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in all_shows %}
                <tr>
                    <th scope="row">{{ show.title }}</th>
                    <td>{{ show.network }}</td>
                    <td>{{ show.release_date }}</td>
                    <td>
                        <a href="/show/{{show.id}}/show">Show</a> |
                        <a href="/show/{{show.id}}/edit">Edit</a> |
                        <a href="/show/{{show.id}}/delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-warning mt-2" href="/new_show">Add a New Show</a>
    </div>
</body>
</html>