<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <div class="container">
        <a class="btn btn-primary mt-2 float-end" href="/dashboard">TV Shows</a>
        <a class= "btn btn-danger float-end mt-2" href="/logout">Logout</a>
        <h1>Editing Show No. {{ show.id }}!</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/show/{{show.id}}/update" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ show.title }}">
            </div>
            <div class="mb-3">
                <label for="network" class="form-label">Network:</label>
                <input type="text" class="form-control" id="network" name="network" value="{{ show.network }}">
            </div>
            <div class="mb-3">
                <label for="release_date" class="form-label">Release Date:</label>
                <input type="Date" class="form-control" id="release_date" name="release_date" value="{{ show.release_date }}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <input type="text" class="form-control" id="description" name="description" value="{{ show.description }}">
            </div>
            <button type="submit" class="btn btn-dark">Update</button>
        </form>
    </div>
</body>
</html>